.idea
.env
docker/mysql/*
docker/nginx/site.conf
app/personal-account/node_modules/
app/personal-account/public/build/
app/personal-account/var/
app/personal-account/vendor/
app/personal-account/.env
app/personal-account/yarn-error.log
