{% extends 'base.html.twig' %}

{% block body_id 'user' %}

{% block header %}
    <header>
    </header>
{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-start">
            <div class="col-xl-3 col-lg-4 col-md-5 pr-0 ">
                {{ include('lib/_user_links.html.twig') }}
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7 pl-0">
                {{ include('lib/_user_content.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}