{% extends 'base.html.twig' %}

{% block body_id 'user' %}
{% block body_class 'sidebar-mini' %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block body %}
    <div class="wrapper">
        {{ include('users/lib/_user-navbar.html.twig') }}

        {{ include('users/lib/_user-sidebar.html.twig') }}
        {% block main %}{% endblock %}
        {{ include('users/lib/_user-sidebar-control.html.twig') }}

        {{ include('users/lib/_user-footer.html.twig') }}
    </div>
{% endblock %}