/* Page: 'Homepage' my classes
   ------------------------------------------------------------------------- */
.top-nav-collapse {
  background-color: get-color-with-alpha($color-bright-blue, 0.8) !important;
}
.navbar-auth:not(.top-nav-collapse) {
  background: transparent !important;
  box-shadow: 0 3px 3px get-color-with-alpha($color-black, 0.3);
}
.dropdown-menu-auth {
  @extend %form-transparent-background;

  & > a {
    color: get-color-with-alpha($color-white, 0.5);

    &:hover {
      color: get-color-with-alpha($color-white, 1.0);
      background-color: get-color-with-alpha($color-bright-blue, 1.0);
    }
  }
}
.btn-outline-white {
  color: get-color-with-alpha($color-white, 0.5);
  background-color: get-color-with-alpha($color-bright-blue, 0.2);
  border: 2px solid get-color-with-alpha($color-white, 0.5);

  &:hover {
    color: get-color-with-alpha($color-white, 1.0);
    background-color: get-color-with-alpha($color-bright-blue, 0.4);
    border: 2px solid get-color-with-alpha($color-white, 1.0);
  }
}
.btn-social {
  color: get-color-with-alpha($color-white, 0.5);

  &:hover {
    color: get-color-with-alpha($color-white, 1.0);
  }
}
.btn-social-invert {
  color: get-color-with-alpha($color-bright-blue, 0.7);

  &:hover {
    color: get-color-with-alpha($color-bright-blue, 1.0);
  }
}
div {
  &.authorize-background {
    background: {
      size: cover;
      position: center center;
      //position: center 0px;
      image: url('../images-scss/university.jpg');
      repeat: no-repeat;
      //attachment: scroll;
    }

    .bg-transparent {
      @extend %form-transparent-background;
    }
  }
}
.rgba-gradient {
  @include rgba-linear-gradient(45deg, get-color-with-alpha($color-very-dark-blue, 0.8), get-color-with-alpha($color-dark-blue, 0.5));
}
.form-item {
  @include form-item-with-color($color-white, $color-grayish-blue);
}
.form-search-item {
  @include form-search-item-with-color($color-white, $color-grayish-blue);
}
.form-search-item-invert {
  @include form-search-item-with-color($color-black, $color-grayish-blue);
}
.transparent-75 {
  filter: alpha(Opacity=75);
  opacity: 0.75;

  &:hover {
    filter: alpha(opacity=100);
    opacity: 1.0;
  }
}
.text-danger-light {
  color: get-color-with-alpha($color-red-light, 1.0);
}
.text-success-light {
  color: get-color-with-alpha($color-green-light, 1.0);
}
.text-info-light {
  color: get-color-with-alpha($color-purple-light, 1.0);
}
@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent !important;
  }
}
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
