@function get-color-with-alpha($color, $alpha){
  $color-alpha: append($color,$alpha);
  $red: nth($color-alpha,1);
  $green: nth($color-alpha,2);
  $blue: nth($color-alpha,3);
  $alpha: nth($color-alpha,4);
  @return rgba($red, $green, $blue, $alpha);
}

@mixin rgba-linear-gradient($position, $color-from, $color-to){
  background: -webkit-linear-gradient($position, $color-from, $color-to 100%);
  background: -webkit-gradient(linear, $position, from($color-from, $color-to 100%));
  background: linear-gradient(to $position, $color-from, $color-to 100%);
}

%form-transparent-input {
  background: transparent;
  border: none {
    bottom: 1px solid get-color-with-alpha($color-white, 0.5);
  };
  outline: none;
  width: 100%;

  &:hover,
  &:focus {
    border-bottom: 1px solid get-color-with-alpha($color-white, 1.0);
  }

  &:hover ~ label {
    color:get-color-with-alpha($color-white, 1.0);
  }
}

%form-transparent-label {
  color: get-color-with-alpha($color-white, 0.5);
  position: absolute;
  left: 7px;
  transition: .3s;
}

%form-transparent-background {
  background-color:  get-color-with-alpha($color-slightly-desaturated-blue, 0.2) !important;
  border: 1px solid  get-color-with-alpha($color-slightly-desaturated-blue, 0.3);
}