a.btn {
  text-align: left;
  font-size: 1.15rem;
  padding: 0.375rem 0.1rem;
  max-width: 210px;
}
a.btn:hover {
  color: get-color-with-alpha($color-white, 0.5);
}
a.btn-level-2 {
  color: get-color-with-alpha($color-white, 0.7);
}
a.btn-level-2:hover {
  color: get-color-with-alpha($color-white, 0.5);
}
.card-header span, .card-body span  {
  @extend %span-order;
}
