a.btn-level-1 {
  text-align: left;
  font-size: 1.15rem;
  padding: 0.375rem 0.1rem;
  max-width: 210px;
}
a.btn-level-1:hover {
  color: get-color-with-alpha($color-white, 0.7);
}
a.btn-level-2 {
  text-align: left;
  padding: 0.375rem 0.2rem;
  color: get-color-with-alpha($color-white, 0.7);
}
a.btn-level-2:hover {
  color: get-color-with-alpha($color-white, 0.5);
}
.card-body-elem div {
  display: inline-block;
}
.card-body-elem .elem-icon {
  width: 20px;
  vertical-align: top;
  padding: 0.5rem 0.1rem;
}
.card-body-elem .elem-link {
  vertical-align: top;
  max-width: 210px;
}
.card-header span  {
   @extend %span-order;
}
// переопределяем nav-tabs
//.nav-tabs .nav-link {
//  border: 1px solid transparent;
//}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  color: get-color-with-alpha($color-black, 1.0);
  border-color: transparent transparent get-color-with-alpha($color-bright-blue, 0.5) !important;
  border: 2px solid;
}
.nav-tabs .nav-link {
  color: get-color-with-alpha($color-black, 0.7);
}
//.nav-tabs .nav-item {
//  margin-bottom: -1px;
//}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: get-color-with-alpha($color-black, 1.0);
  //background-color: #fff;
  border-color: transparent transparent get-color-with-alpha($color-bright-blue, 0.5) !important;
  border: 2px solid;
}