// --------------------------------------------------------
// FONTS
// --------------------------------------------------------
$font: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
$web-font-path: 'data:text/css;base64,';
$lato-font-path: '~lato-font/fonts';
// --------------------------------------------------------
// COLORS
// --------------------------------------------------------
$color-white: (255, 255, 255);
$color-grayish-blue: (169, 189, 200);
$color-slightly-desaturated-blue: (126, 123, 215);
$color-bright-blue: (39, 128, 227);
$color-very-dark-blue: (0, 30, 93);
$color-dark-blue: (0, 72, 144);
$color-black: (0, 0, 0);
$color-gray: (134, 142, 150);
$color-gray-mid-light: (219, 220, 221);
$color-red-light: (255, 153, 175);
$color-green-light: (178, 225, 162);
$color-purple-light: (214, 186, 227);
$color-gray-dark: #373a3c;
$color-gray-light: #f8f9fa;