// setting the value of this variable to an empty data URL is the only working solution
// to load the Bootswatch web fonts locally and avoid loading them from Google servers
// see https://github.com/thomaspark/bootswatch/issues/55#issuecomment-298093182
$web-font-path: 'data:text/css;base64,';

// Make sure the bootstrap-sass and lato fonts are resolved correctly
//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$lato-font-path: '~lato-font/fonts';

@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/v4-shims.css";
@import "~highlight.js/styles/solarized-light.css";

// pick the Lato fonts individually to avoid importing the entire font family
@import '~lato-font/scss/public-api';
@include lato-include-font('normal');
@include lato-include-font('bold');

body {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}
hr {
  border: 0;
  margin: 10px 10px 15px;
  border-top: 1px solid #ecf0f1;
}
/* Page: 'Homepage' my classes
   ------------------------------------------------------------------------- */
.top-nav-collapse {
  background-color: rgba(39, 128, 227, 0.8) !important;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.dropdown-menu {
  background-color: rgba(126, 123, 215, 0.2);
  border: 1px solid rgba(126, 123, 215, 0.3);
}
.dropdown-menu > a {
  color: rgba(255, 255, 255, 0.5);
}
.dropdown-menu > a:hover {
  color: rgba(255, 255, 255, 1.0);
  background-color: #2780E3;
}
.btn-outline-white {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(39, 128, 227, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.btn-outline-white:hover {
  color: #ffffff;
  background-color: rgba(39, 128, 227, 0.4);
  border: 2px solid #ffffff;
}
.btn-social {
  color: rgba(255, 255, 255, 0.5);
}
.btn-social:hover {
  color: rgba(255, 255, 255, 1);
}
.btn-social-primary {
  color: rgba(39, 128, 227, 0.7);
}
.btn-social-primary:hover {
  color: rgba(39, 128, 227, 1);
}
div.authorize-background {
  background-size: cover;
  background-position: center center;
  background-image: url('../images-scss/university.jpg');
  background-repeat: no-repeat;
}
.rgba-gradient {
  background: -webkit-linear-gradient(45deg, rgba(0, 30, 93, 0.8), rgba(0, 72, 144, 0.5) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(0, 30, 93, 0.8), rgba(0, 72, 144, 0.5) 100%));
  background: linear-gradient(to 45deg, rgba(0, 30, 93, 0.8), rgba(0, 72, 144, 0.5) 100%);
}
div.authorize-background .bg-transparent {
  background-color: rgba(126, 123, 215, 0.2) !important;;
}
div.authorize-background .border-transparent {
  border: 1px solid rgba(126, 123, 215, 0.3);
}
.form-search {
}
.form-item {
  position:relative;
  margin: 10px 20px;
}
.form-search-item {
  display: inline-block;
  position: relative;
}
.form-item input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  margin: 10px 10px;
}
.form-search-item input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  width: 100%;
  height: 30px;
  padding: 0px 10px;
  font-size: 14px;
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}
.form-search-item input:hover,
.form-search-item input:focus {
  border-bottom: 1px solid #fff;
}
.form-item label {
  color: #cccccc;
  position: absolute;
  left: 7px;
  top: 18px;
  transition: .3s;
  margin: 5px 10px;
}
.form-search-item label {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  pointer-events: none;
  left: 7px;
  top: 10px;
  line-height: 15px;
  transition: .3s;
  font-size: 15px;
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}
.form-item input:hover ~ label{
  color: #ffffff
}
.form-search-item input:hover ~ label{
  color: #ffffff
}
.form-item input:focus ~ label,
.form-item input:not(:focus):valid ~ label{
  left: 8px;
  top: -10px;
  font-size: 14px;
  color: rgba(169, 189, 200, 0.88);
}
.form-search-item input:focus ~ label,
.form-search-item input:not(:focus):valid ~ label {
  left: 8px;
  top: -6px;
  font-size: 10px;
  color: rgba(169, 189, 200, 0.88);
}
.form-search-item .btn {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  /* border-color: #2780E3; */
}
.form-search-item .btn:hover, .form-search-item .btn:focus {
  background-color: transparent;
  color: #ffffff;
  /* border-color: #2780E3; */
}
.transparent-75 {
  filter: alpha(Opacity=75);
  opacity: 0.75;
}
.transparent-75:hover {
  filter: alpha(opacity=100);
  opacity: 1.0;
}