// setting the value of this variable to an empty data URL is the only working solution
// to load the Bootswatch web fonts locally and avoid loading them from Google servers
// see https://github.com/thomaspark/bootswatch/issues/55#issuecomment-298093182
$web-font-path: 'data:text/css;base64,';

// Make sure the bootstrap-sass and lato fonts are resolved correctly
//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$lato-font-path: '~lato-font/fonts';

@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/v4-shims.css";
@import "~highlight.js/styles/solarized-light.css";

// pick the Lato fonts individually to avoid importing the entire font family
@import '~lato-font/scss/public-api';
@include lato-include-font('normal');
@include lato-include-font('bold');

/* Page: 'Homepage' my classes
   ------------------------------------------------------------------------- */

div.author-background {
  background-size: cover;
  background-position: center center;
  background-image: url('../images-scss/university.jpg');
  background-repeat: no-repeat;
}
.rgba-gradient {
  background: -webkit-linear-gradient(45deg, rgba(0, 30, 93, 0.8), rgba(0, 72, 144, 0.5) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(0, 30, 93, 0.8), rgba(0, 72, 144, 0.5) 100%));
  background: linear-gradient(to 45deg, rgba(0, 30, 93, 0.8), rgba(0, 72, 144, 0.5) 100%);
}

.form-search {
}
.form-item {
  position:relative;
  margin: 10px 20px;
}
.form-search-item {
  display: inline-block;
  position: relative;
}
.form-item input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  margin: 10px 10px;
}
.form-search-item input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  width: 100%;
  height: 30px;
  padding: 0px 10px;
  font-size: 15px;
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}
.form-search-item input:hover,
.form-search-item input:focus {
  border-bottom: 1px solid #fff;
}
.form-item label {
  color: #cccccc;
  position: absolute;
  top: 20px;
  left: 0;
  transition: .3s;
  margin: 5px 10px;
}
.form-search-item label {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 10px;
  line-height: 15px;
  transition: .3s;
  font-size: 15px;
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}
.form-item input:focus ~ label,
.form-item input:not(:focus):valid ~ label{
  left: 0;
  top: -15px;
  font-size: 14px;
  color: rgba(169, 189, 200, 0.88);
  padding: 10px 15px;
}
.form-search-item input:hover ~ label{
  color: #ffffff
}
.form-search-item input:focus ~ label,
.form-search-item input:not(:focus):valid ~ label {
  top: -10px;
  font-size: 10px;
  color: #ffffff
}
.form-search-item .btn {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  /* border-color: #2780E3; */
}
.form-search-item .btn:hover, .form-search-item .btn:focus {
  background-color: transparent;
  color: #ffffff;
  /* border-color: #2780E3; */
}