<div class="container my-1 my-lg-1 px-lg-2 mt-lg-3" >
    <div class="row">
        <div class="col-lg-12">
            <div class="card bg-light mb-3">
                <div class="card-header font-weight-bold">Введите имя пользователя или e-mail</div>
                <div class="card-body">
                    <div class="form-group col text-dark">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Имя пользователя или адрес электронной почты" name="username" >
                        </div>
                    </div>
                    <a href="#" class="card-link">Восстановить пароль</a>
                    <a href="#" class="card-link">Отмена</a>
                    <div class="row">
                        <div class="col">
                            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Восстановить пароль">
                        </div>
                        <div class="col">
                            <a href="{{ url('login') }}" class="btn btn-lg btn-light btn-block" role="button">Отмена</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>