<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{'title.head'|trans({},'interfaces')|raw}}</title>
</head>

<body>
<p>Здравствуйте, {{ username }}!</p>
<p>
    Для подтверждения Вашей регистрации необходимо пройти по ссылке -
    <a href="{{ url('confirm_account', {'token':token, 'username':username}) }}">"подтверждаю регистрацию в информационно-образовательном пространстве БарГУ"</a>.
</p>
<p>С уважением,<br> администратор информационно-образовательного пространства БарГУ</p>
</body>
</html>