<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{'title.head'|trans({},'interfaces')|raw}}</title>
</head>

<body>
<p>Здравствуйте, {{ username }}!</p>
<p>Для подтверждения Вашей регистрации необходимо пройти по ссылке <a href="{{ url('login', {'token':token, 'username':username}) }}">информационно-образовательное пространство БарГУ</a>.</p>
<p>С уважением,<br> администратор информационно-образовательного пространства БарГУ</p>
</body>
</html>