<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Информационное пространство
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; {{ 'now'|date('Y') }} <a href="https://barsu.by">Учреждение образования "Барановичский государственный университет"</a></strong> {{ 'license'|trans({},'base') }}
</footer>