<div class="container my-1 my-lg-1 px-lg-2 mt-lg-3">
    <div class="row mx-lg-2">
        <div id="contentdata" class="col py-2 px-lg-1">
            <div class="tab-pane fade py-3 px-3 w-70 active show" id="nav-elib" role="tabpanel" aria-labelledby="nav-elib-tab">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 font-weight-bold">X Международная научно-практическая конференция "Семантические технологии <br>проектирования интеллектуальных систем"</h5>
                            <small>сегодня 15:00, ауд. 224/4 </small>
                        </div>
                        <p class="mb-1">Конференция посвящена основам проектирования интеллектуальных систем. Секция "Проектирование баз знаний"</p>
                        <small>Лекция в режиме on-line</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 font-weight-bold">Лекция "Основы объектно-ориентированного проектирования программ"</h5>
                            <small class="text-muted">14.03.2021 8:30, ауд. 224/4</small>
                        </div>
                        <p class="mb-1">Лекция для студентов дистанционной формы получения образования. Группа ИТСзд-21</p>
                        <small class="text-muted">Лекция в режиме on-line</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 font-weight-bold">Треннинг "Гибкая методология проектирования программ"</h5>
                            <small class="text-muted">18.03.2021 12:00, 411/1</small>
                        </div>
                        <p class="mb-1">Обучение программированию с использованием современных технологий разработки программного обеспечения</p>
                        <small class="text-muted">Вебинар</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>