<div class="container my-1 my-lg-1 px-lg-2 mt-lg-3">
    <div class="row mx-lg-2">
        <div id="contentdata" class="col py-2 px-lg-1">
            <div class="tab-pane fade py-3 px-3 w-70 active show" id="nav-elib" role="tabpanel" aria-labelledby="nav-elib-tab">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">

                        <div class="card">
                            <img class="card-img-top" src="{{ asset('build/images/elib.jpg') }}" alt="Card image cap">
                            <div class="card-header">
                                <h5 class="card-title  mb-0">Электронный каталог библиотеки университета</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">В фондах библиотеки БарГУ хранится около 500 тысяч документов и свыше 10 тысяч цифровых копий.
                                    Ежегодно библиотека приобретает доступ к электронным информационным ресурсам ведущих отечественных и зарубежных издательств и агрегаторов.
                                    Поисковой системой для этих информационных ресурсов является электронный каталог.
                                    Любой пользователь независимо от местонахождения имеет возможность без авторизации:
                                    - осуществить поиск документов, хранящихся в фонде, лицензионных базах данных и информационных ресурсах открытого доступа;
                                    - получить доступ к полным текстам документов из информационных ресурсов открытого доступа.
                                    Пользователь, находящийся в здании университета, может получить доступ к ее электронной библиотеке,
                                    а также к полным текстам документов из лицензионных баз данных: EBSCOhost, Oxford Journals Online, eLIBRARY.RU, «Лань», «Университетская библиотека» и др.
                                    После авторизации пользователь получает возможность удаленно заказать на читальный зал университета документы, находящиеся в фонде библиотеки.</p>
                                <p class="card-text"><small class="text-muted">Последнее обновление 3 минуты назад</small></p>
                                <a href="http://elib.barsu.by/CGI/irbis64r_15/cgiirbis_64.exe?C21COM=F&I21DBN=EC&P21DBN=EC" class="card-link">Перейти в электронный каталог библиотеки университета <i class="fa fa-external-link"></i></a>
                            </div>
                        </div><!-- /.card -->
                    </div><!-- /.col-12 col-md-6 col-lg-6-->

                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="card">
                            <img class="card-img-top" src="{{ asset('build/images/repository-wide.jpg') }}" alt="Card image cap">
                            <div class="card-header">
                                <h5 class="card-title  mb-0">Репозиторий БарГУ</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Электронный архив документов научного, образовательного и нормативного назначения, изданных в БарГУ либо созданных работниками БарГУ.</p>
                                <p class="card-text"><small class="text-muted">Последнее обновление 11.02.2021</small></p>
                                <a href="http://rep.barsu.by/" class="card-link">Перейти в репозиторий университета <i class="fa fa-external-link"></i></a>
                            </div>
                        </div><!-- /.card -->
                        <div class="card">
                            <img class="card-img-top" src="{{ asset('build/images/warehouse.jpg') }}" alt="Card image cap">
                            <div class="card-header">
                                <h5 class="card-title  mb-0">Хранилище электронных образовательных ресурсов БарГУ</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Ресурс позволяет систематизировать все учебные и учебно-методические материалы в единый информационный ресурс,
                                    организовать работу студентов, преподавателей и других сотрудников в читальных залах вуза, а также удаленно
                                    с использованием сети Интернет.</p>
                                <p class="card-text"><small class="text-muted">Последнее обновление 11.02.2021</small></p>
                                <a href="http://erstorage.barsu.by/" class="card-link">Перейти в хранилище электронных ресурсов <i class="fa fa-external-link"></i></a>
                            </div>
                        </div><!-- /.card -->
                    </div><!-- /.col-12 col-md-6 col-lg-6-->
                </div><!-- /.row -->
            </div>
        </div>
    </div>
</div>