<div class="container my-1 my-lg-1 px-lg-2 mt-lg-3">
    <div class="row mx-lg-2">
        <div id="contentdata" class="col py-2 px-lg-1">
            <div class="tab-pane fade py-3 px-3 w-70 active show" id="nav-elib" role="tabpanel" aria-labelledby="nav-elib-tab">
                <div class="card">
                    <img class="card-img-top" src="{{ asset('build/images/moodle.jpg') }}" alt="Card image cap">
                    <div class="card-header">
                        <h5 class="card-title  mb-0">Система управления обучением "Moodle"</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Система управления обучением "Moodle" используется
                            как вспомогательный инструмент для обеспечения образовательного процесса.</p>
                        <p class="card-text"><small class="text-muted">Последнее обновление 24.02.2021</small></p>
                        <a href="http://education.barsu.by/" class="card-link">Перейти в систему управления обучением "Moodle" <i class="fa fa-external-link"></i></a>
                    </div>
                </div><!-- /.card -->
            </div>
        </div>
    </div>
</div>