<div class="container my-1 my-lg-1 px-lg-2 mt-lg-3">
    <div class="row mx-lg-2">
        <div id="contentdata" class="col py-2 px-lg-1">
            <div class="tab-pane fade py-3 px-3 w-70 active show" id="nav-schedule" role="tabpanel" aria-labelledby="nav-schedule-tab">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="text-center"> <h4 class="text-bold">Расписание занятий для студентов группы ТОСП11</h4>
                            <h5 class="card-text text-primary text-bold">
                                Весенний семестр, 2020 - 2021 учебный год
                            </h5>
                            <p class="card-text text-bold">
                                Сейчас 1-я учебная неделя <br> 08.02.2021 - 13.02.2021
                            </p>
                        </div>
                    </div>
                </div> <!-- /.row -->
                <!-- toolbar calendar -->
                <div class="fc-toolbar fc-header-toolbar mb-5">
                    <div class=" fc-right">
                        <div class="btn-group">
                            <button type="button" class="fc-agendaWeek-button btn btn-primary active">Неделя</button>
                            <button type="button" class="fc-agendaDay-button btn btn-primary ">День</button>
                        </div>
                    </div>
                    <div class="fc-left">
                        <button type="button" class="fc-today-button btn btn-primary">Сегодня</button>
                        <div class="btn-group">
                            <button type="button" class="fc-prev-button btn btn-primary" aria-label="prev">
                                <span class="fa fa-chevron-left"></span>
                            </button>
                            <button type="button" class="fc-next-button btn btn-primary" aria-label="next">
                                <span class="fa fa-chevron-right"></span>
                            </button>
                        </div>
                    </div>
                    <div class="fc-center">
                        <h5 class="text-bold"> 08 фев  – 13 фев, 2021</h5>
                    </div>
                    <div class="fc-clear"></div>
                </div> <!-- ./toolbar calendar -->
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-8">
                        <div class="widget widget-reminder">
                            <div class="widget-reminder-header">Сегодня 08 февраля - понедельник</div>
                            <div class="widget-reminder-container">
                                <div class="widget-reminder-time">
                                    <div>  <b> 11:55</b><br />
                                        13:15</div>
                                </div>
                                <div class="widget-reminder-divider bg-danger"></div>
                                <div class="widget-reminder-content">
                                    <div class="widget-title-content"><h4 class="widget-title mr-3">Почвоведение - ЛК</h4> </div>
                                    <div class="widget-title-content widget-desc">Приходько С.Л.</div>
                                    <div class="m-t-5">
                                        <div class="widget-desc"><i class="fas fa-map-marker-alt"></i> 4/313 Парк</div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-reminder-container">
                                <div class="widget-reminder-time">
                                    <b> 13.25</b><br />
                                    14.45
                                </div>
                                <div class="widget-reminder-divider bg-danger"></div>
                                <div class="widget-reminder-content">
                                    <div class="widget-title-content"><h4 class="widget-title mr-3">Почвоведение - ПЗ</h4> </div>
                                    <div class="widget-title-content widget-desc">Приходько С.Л.</div>
                                    <div class="m-t-5">
                                        <div class="widget-desc pull-right">1 подгр.</div>
                                        <div class="widget-desc"><i class="fas fa-map-marker-alt"></i>  4/313 Парк</div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-reminder-container">
                                <div class="widget-reminder-time">
                                    <b> 14.55</b><br />
                                    16.15
                                </div>
                                <div class="widget-reminder-divider "></div>
                                <div class="widget-reminder-content">
                                    <div class="widget-title-content"><h4 class="widget-title mr-3">Земледелие - ЛК</h4> </div>
                                    <div class="widget-title-content widget-desc">Кочурко В.И.</div>
                                    <div class="m-t-5">
                                        <div class="widget-desc"><i class="fas fa-map-marker-alt"></i>  4/205 Парк</div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-reminder-container">
                                <div class="widget-reminder-time">
                                    <b> 16.30</b><br/>
                                    <span class="widget-desc"> 17.50</span>
                                </div>
                                <div class="widget-reminder-divider "></div>
                                <div class="widget-reminder-content">
                                    <div class="widget-title-content"><h4 class="widget-title mr-3">Химия - ЛК</h4> </div>
                                    <div class="widget-title-content widget-desc">Дейхина Т.В.</div>
                                    <div class="m-t-5">
                                        <div class="widget-desc"><i class="fas fa-map-marker-alt"></i> 4/313 Парк</div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-reminder-container">
                                <div class="widget-reminder-time">
                                    <b>18.00</b><br />
                                    19.20
                                </div>
                                <div class="widget-reminder-divider "></div>
                                <div class="widget-reminder-content">
                                    <div class="widget-title-content"><h4 class="widget-title mr-3">ИнострЯзык - ПЗ</h4> </div>
                                    <div class="widget-title-content widget-desc">Зубрицкая Л.С.</div>
                                    <div class="m-t-5">
                                        <div class="widget-desc pull-right">1Англ</div>
                                        <div class="widget-desc"><i class="fas fa-map-marker-alt"></i>  4/104 Парк</div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-reminder-header ">Вторник, 09 февраля</div>
                            <div class="widget-reminder-container">
                                <div class="widget-reminder-time">
                                    <b> 11:55</b><br />
                                    13:15
                                </div>
                                <div class="widget-reminder-divider "></div>
                                <div class="widget-reminder-content">
                                    <h4 class="widget-title">Почвоведение - ЛК</h4>
                                    <div class="widget-desc">Приходько С.Л.</div>
                                    <div class="m-t-5">
                                        <div class="widget-desc pull-right">1 подгр.</div>
                                        <div class="widget-desc"><i class="fas fa-map-marker-alt"></i>  4/313 Парк</div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-reminder-container">
                                <div class="widget-reminder-time">
                                    <b> 11:55</b><br />
                                    13:15
                                </div>
                                <div class="widget-reminder-divider "></div>
                                <div class="widget-reminder-content">
                                    <h4 class="widget-title">Почвоведение - ЛК</h4>
                                    <div class="widget-desc">Приходько С.Л.</div>
                                    <div class="m-t-5">
                                        <div class="widget-desc pull-right">1 подгр.</div>
                                        <div class="widget-desc"><i class="fas fa-map-marker-alt"></i>  4/313 Парк</div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-reminder-header">Среда, 10 февраля</div>
                            <div class="widget-reminder-container">
                                <div class="widget-reminder-time">
                                    <b> 11:55</b><br />
                                    13:15
                                </div>
                                <div class="widget-reminder-divider "></div>
                                <div class="widget-reminder-content">
                                    <h4 class="widget-title">Почвоведение - ЛК</h4>
                                    <div class="widget-desc">Приходько С.Л.</div>
                                    <div class="m-t-5">
                                        <div class="widget-desc pull-right">1 подгр.</div>
                                        <div class="widget-desc"><i class="fas fa-map-marker-alt"></i> 4/313 Парк</div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-reminder-container">
                                <div class="widget-reminder-time">
                                    <b> 11:55</b><br />
                                    13:15
                                </div>
                                <div class="widget-reminder-divider "></div>
                                <div class="widget-reminder-content">
                                    <h4 class="widget-title">Почвоведение - ЛК</h4>
                                    <div class="widget-desc">Приходько С.Л.</div>
                                    <div class="m-t-5">
                                        <div class="widget-desc pull-right">1 подгр.</div>
                                        <div class="widget-desc"><i class="fas fa-map-marker-alt"></i>  4/313 Парк</div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-reminder-header  ">Четверг, 11 февраля</div>
                            <div class="widget-reminder-container">
                                <div class="widget-reminder-time">
                                    <b> 11:55</b><br />
                                    13:15
                                </div>
                                <div class="widget-reminder-divider "></div>
                                <div class="widget-reminder-content">
                                    <h4 class="widget-title">Почвоведение - ЛК</h4>
                                    <div class="widget-desc">Приходько С.Л.</div>
                                    <div class="m-t-5">
                                        <div class="widget-desc pull-right">1 подгр.</div>
                                        <div class="widget-desc"><i class="fas fa-map-marker-alt"></i>  4/313 Парк</div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-reminder-container">
                                <div class="widget-reminder-time">
                                    <b> 11:55</b><br />
                                    13:15
                                </div>
                                <div class="widget-reminder-divider "></div>
                                <div class="widget-reminder-content">
                                    <h4 class="widget-title">Почвоведение - ЛК</h4>
                                    <div class="widget-desc">Приходько С.Л.</div>
                                    <div class="m-t-5">
                                        <div class="widget-desc pull-right">1 подгр.</div>
                                        <div class="widget-desc"><i class="fas fa-map-marker-alt"></i> 4/313 Парк</div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-reminder-header ">Пятница, 12 февраля</div>
                            <div class="widget-reminder-container">
                                <div class="widget-reminder-time">
                                    <b> 11:55</b><br />
                                    13:15
                                </div>
                                <div class="widget-reminder-divider "></div>
                                <div class="widget-reminder-content">
                                    <h4 class="widget-title">Почвоведение - ЛК</h4>
                                    <div class="widget-desc">Приходько С.Л.</div>
                                    <div class="m-t-5">
                                        <div class="widget-desc pull-right">1 подгр.</div>
                                        <div class="widget-desc"><i class="fas fa-map-marker-alt"></i> 4/313 Парк</div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-reminder-container card-danger">
                                <div class="widget-reminder-time">
                                    <b> 11:55</b><br />
                                    13:15
                                </div>
                                <div class="widget-reminder-divider "></div>
                                <div class="widget-reminder-content ">
                                    <h4 class="widget-title">Почвоведение - ЛК</h4>
                                    <div class="widget-desc">Приходько С.Л.</div>
                                    <div class="m-t-5">
                                        <div class="widget-desc pull-right">1 подгр.</div>
                                        <div class="widget-desc"><i class="fas fa-map-marker-alt"></i>  4/313 Парк</div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-reminder-header ">Суббота, 13 февраля</div>
                            <div class="widget-reminder-container">
                                <div class="widget-reminder-content">
                                    нет занятий
                                </div>
                            </div>
                        </div><!--./widget widget-reminder-->

                    </div><!-- /.col-12 col-md-8 col-lg-8-->
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Фильтры</h5>
                            </div>
                            <div class="card-body">
                                <label>Подгруппа</label>
                                <div class="px-2">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="user1-status" id="users1-status-active">
                                        <label class="custom-control-label" for="users1-status-active">1</label>
                                    </div>
                                </div>
                                <div class="px-2">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="user1-status" id="users1-status-any" checked="">
                                        <label class="custom-control-label" for="users1-status-any">2</label>
                                    </div>
                                </div>
                            </div>
                        </div><!--./card-->
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Образовательный процесс</h5>
                            </div>
                            <div class="card-body">
                                <ul class="pl-0  list-item">
                                    <li ><a href="https://barsu.by/student_d/doc1.php">Студенту. Дневная форма получения образования<small><i class="fa fa-external-link ml-1"></i></small> </a></li>
                                    {#                                <li ><a href="#">График образовательного процесса<small><i class="fa fa-external-link ml-1"></i></small> </a></li>#}
                                    {#                                <li><a href="#">График промежуточного контроля<small><i class="fa fa-external-link ml-1"></i></small></a></li>#}
                                    {#                                <li><a href="#">Памятка студенту по процедуре проведения компьютерного тестирования<small><i class="fa fa-external-link ml-1"></i> </small> </a></li>#}
                                    {#                                <li><a href="#">  График работы государственной экзаменационной комиссии<small><i class="fa fa-external-link ml-1"></i></small></a></li>#}
                                    {#                                <li><a href="#"> Дисциплины по выбору<small><i class="fa fa-external-link ml-1"></i></small>  </a></li>#}
                                    {#                                <li><a href="#"> Расписание экзаменационных сессий<small><i class="fa fa-external-link ml-1"></i></small> </a></li>#}
                                </ul>
                            </div>
                        </div><!--./card-->
                    </div><!-- /.col-12 col-md-4 col-lg-4-->
                </div>  <!-- /.row -->
            </div>
        </div>
    </div>
</div>