<div class="container my-1 my-lg-1 px-lg-2 mt-lg-3">
    <div class="row mx-lg-2">
        <div id="contentdata" class="col py-2 px-lg-1">
            <div class="tab-pane fade py-3 px-3 w-70 active show" id="nav-elib" role="tabpanel" aria-labelledby="nav-elib-tab">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Секция информационных систем и технологий</h5>
                            <p class="card-text">
                                Предметно-методическая секция информационных систем и технологий входит в состав кафедры информационных технологий и физико-математических дисциплин инженерного факультета.
                                Секция организована в 2018 году и осуществляет подготовку специалистов по специальности «Информационные системы и технологии» по направлениям «Информационные системы и
                                технологии (в проектировании и производстве)», является выпускающей по данной специальности.</p>
                            <p class="card-text"><small class="text-muted">Последнее обновление 11.02.2021</small></p>
                            <a href="http://ist.barsu.by/" class="card-link">Перейти к информационному ресурсу секции информационных систем и технологий <i class="fa fa-external-link"></i></a>
                        </div>
                        <img class="card-img-top" src="{{ asset('build/images/kaf-ist.jpg') }}" alt="Секция информационных систем и технологий">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Секция физико-математических дисциплин и информатики</h5>
                            <p class="card-text">Секция физико-математических дисциплин и информатики (ФМДиИ) кафедры информационных технологий и физико-математических дисциплин создана 1 февраля 2018 года
                                на базе кафедры физико-математических дисциплин и информатики в результате объединения кафедры информационных систем и технологий и кафедры физико-математических дисциплин
                                и информатики.</p>
                            <p class="card-text">Секция физико-математических дисциплин и информатики (ФМДиИ) кафедры информационных технологий и физико-математических дисциплин создана 1 февраля 2018 года
                                на базе кафедры физико-математических дисциплин.</p>
                            <p class="card-text"><small class="text-muted">Последнее обновление 11.02.2021</small></p>
                            <a href="http://pmd.barsu.by/" class="card-link">Перейти к информационному ресурсу секции физико-математических дисциплин и информатики <i class="fa fa-external-link"></i></a>
                        </div>
                        <img class="card-img-top" src="{{ asset('build/images/kaf-fm.jpg') }}" alt="Секция физико-математических дисциплин и информатики">
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Секция технологии машиностроения</h5>
                            <p class="card-text">
                                Секция технология машиностроения осуществляет подготовку специалистов первой ступени высшего образования по специальности 1- 36 01 01 «Технология машиностроения» и второй ступени высшего образования по специальности 1 – 36 80 02 «Инновационные технологии в машиностроении»
                            </p>
                            <p class="card-text">
                                Основными направлениями научной деятельности секции технологии машиностроения в 2021 году является исследование процесса ионно-плазменного азотирования деталей машин.
                            </p>
                            <p class="card-text"><small class="text-muted">Последнее обновление 11.02.2021</small></p>
                            <a href="http://mbt.barsu.by/" class="card-link">Перейти к информационному ресурсу секции технологии машиностроения <i class="fa fa-external-link"></i></a>
                        </div>
                        <img class="card-img-top" src="{{ asset('build/images/kaf-mbt.jpg') }}" alt="Секция информационных систем и технологий">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>