<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
        <h5>Профиль пользователя</h5>
        <p>
            <a href="{{ url('homepage', {module:1}) }}" class="btn btn-level-0"><i class="far fa-edit"></i> Редактировать</i>
            </a>
        </p>
    </div>
</aside>
<!-- /.control-sidebar -->