<div class="container my-1 my-lg-1 px-lg-2 mt-lg-3">
    <div class="row mx-lg-2">
        <div id="contentdata" class="col py-2 px-lg-1">
            <div class="tab-pane fade py-3 px-3 w-70 active show" id="nav-campus" role="tabpanel" aria-labelledby="nav-schedule-campus">
                <div class="row">
                    <div class="col-md-4 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Контактная информация</h5>
                            </div>
                            <div class="card-body">
                                <address>
                                    <p class="text-bold mb-0">Адрес:</p>
                                    <p> ул.Войкова, 21, 225404 г.Барановичи, Брестская обл.</p>
                                </address>
                                <address>
                                    <p class="text-bold mb-0">Начальник отдела:</p>
                                    <p>Булыга Инна Сергеевна</p>
                                </address>
                                <address>
                                    <p class="text-bold mb-0">Телефон:.</p>
                                    <p>+375 163 66 53 79</p>
                                </address>
                                <address>
                                    <p class="text-bold mb-0">E-mail:</p>
                                    <a href="mailto:ovr@barsu.by" class="card-link">ovr@barsu.by</a>
                                </address>
                            </div>
                        </div><!-- /.card-->
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Заселение в общежитие</h5>
                            </div>
                            <div class="card-body">
                                <ul class="pl-0  list-item">
                                    <li ><a href="https://barsu.by/form_ovr/h.php">Электронная форма подачи документов для заселения в общежитие<small><i class="fa fa-external-link ml-1"></i></small> </a></li>
                                    <li><a href="https://barsu.by/ovr/resulttest_1.php">Решения комиссии по жилищно-бытовым вопросам студентов<small><i class="fa fa-external-link ml-1"></i></small></a></li>
                                </ul>
                            </div>
                        </div><!-- /.card-->
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">На заметку</h5>
                            </div>
                            <div class="card-body">
                                <ul class="pl-0  list-item">
                                    <li ><a href="https://barsu.by/student/hostel.php">Обеспеченность общежитиями<small><i class="fa fa-external-link ml-1"></i></small> </a></li>
                                    <li><a href="https://barsu.by/student/memorandum_foreign.php">Памятка иногороднему студенту<small><i class="fa fa-external-link ml-1"></i></small></a></li>
                                    <li><a href="https://barsu.by/educational_work/psiholog.php">Студентам на заметку<small><i class="fa fa-external-link ml-1"></i> </small> </a></li>
                                </ul>
                            </div>
                        </div><!-- /.card-->
                    </div><!-- /.col-md-4 col-xl-4-->
                    <div class="col-md-8 col-xl-8">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="card">
                                    <img class="card-img-top" src="/build/images/university.9d431a30.jpg" title="Общежития Баргу" alt="Общежития Баргу">
                                    <div class="card-header">
                                        <h5 class="card-title  mb-0">Общежитие Уборевича, 18</h5>
                                    </div>
                                    <div class="card-body">
                                        <address>
                                            <p class="text-bold mb-0">Контакты</p>
                                            <i class="fa fa-vk "></i> <a href="https://vk.com/club_uborevicha2" class="btn ">vk.com/club_uborevicha2</a><br>
                                            <i class="fa fa-mobile mr-2"></i><a href="tel:80163643634" class="btn ">64 36 34</a>
                                        </address>
                                        <a href="https://barsu.by/educational_work/hostel18.php" class="btn btn-primary">Подробнее</a>
                                    </div>
                                </div><!-- /.card-->
                            </div><!-- /.col-12 col-md-6 col-lg-6-->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="card">
                                    <img class="card-img-top" src="/build/images/university.9d431a30.jpg" title="Общежития Баргу" alt="Общежития Баргу">
                                    <div class="card-header">
                                        <h5 class="card-title  mb-0">Общежитие Уборевича, 20</h5>
                                    </div>
                                    <div class="card-body">
                                        <address>
                                            <p class="text-bold mb-0">Контакты</p>
                                            <i class="fa fa-vk "></i> <a href="https://vk.com/uborivacha_20" class="btn ">vk.com/uborivacha_20</a><br>
                                            <i class="fa fa-mobile mr-2"></i><a href="tel:80163643639" class="btn ">64 36 39</a>
                                        </address>
                                        <a href="https://barsu.by/educational_work/hostel20.php" class="btn btn-primary">Подробнее</a>
                                    </div>
                                </div><!-- /.card-->
                            </div><!-- /.col-12 col-md-6 col-lg-6-->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="card">
                                    <img class="card-img-top" src="/build/images/university.9d431a30.jpg" title="Общежития Баргу" alt="Общежития Баргу">
                                    <div class="card-header">
                                        <h5 class="card-title  mb-0">Общежитие Уборевича, 22</h5>
                                    </div>
                                    <div class="card-body">
                                        <address>
                                            <p class="text-bold mb-0">Контакты</p>
                                            <i class="fa fa-vk "></i> <a href="https://vk.com/uborevicha22" class="btn ">vk.com/uborevicha22</a><br>
                                            <i class="fa fa-mobile mr-2"></i><a href="tel:80163643503" class="btn ">64 35 03</a>
                                        </address>
                                        <a href="https://barsu.by/educational_work/hostel22.php" class="btn btn-primary">Подробнее</a>
                                    </div>
                                </div><!-- /.card-->
                            </div><!-- /.col-12 col-md-6 col-lg-6-->
                        </div>   <!-- /.row -->
                    </div> <!-- /.col-md-8 col-xl-8-->
                </div>  <!-- /.row -->
            </div>
        </div>
    </div>
</div>