body {
  font-family: $font;
  font-size: 1rem;
}
hr {
  border: 0 {
    top: 1px solid get-color-with-alpha($color-white, 0.5);
  };
  margin: 10px 10px 15px;
}
label.required:not(.form-check-label):before {
  content: "* ";
  color: red;
}
.invisible {
  display: none;
}