<div class="tab-pane fade py-3 px-3 w-70 active show" id="nav-ir-entrant" role="tabpanel" aria-labelledby="nav-ir-entrant-tab">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">Информационный ресурс "Абитуриент БарГУ"</h5>
            <p class="card-text">Информационный сайт для абитуриентов учреждения образования "Барановичский государственный университет",
                а также вся необходимая информация для абитуриентов, сдающих репетиционное и централизованное тестирование.</p>
            <p class="card-text"><small class="text-muted">Последнее обновление сегодня</small></p>
            <a href="#" class="card-link">Перейти к информационному ресурсу "Абитуриент БарГУ" <i class="fa fa-external-link"></i></a>
        </div>
        <img class="card-img-top pl-3" src="{{ asset('build/images/ir-abit.jpg') }}" alt="Card image cap" style="max-width: 500px;">
    </div>
</div>