<div class="tab-pane fade py-3 px-3 w-70" id="nav-moodle" role="tabpanel" aria-labelledby="nav-moodle-tab">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">Система управления обучением "Moodle"</h5>
            <p class="card-text">Система управления обучением "Moodle" используется
                как вспомогательный инструмент для обеспечения образовательного процесса.</p>
            <p class="card-text"><small class="text-muted">Последнее обновление 01.03.2020</small></p>
            <a href="http://education.barsu.by/" class="card-link">Перейти в систему управления обучением "Moodle" <i class="fa fa-external-link"></i></a>
        </div>
        <img class="card-img-top" src="{{ asset('build/images/moodle.jpg') }}" alt="Card image cap">
    </div>
</div>