<div class="tab-pane fade py-3 px-3 w-70" id="nav-repository" role="tabpanel" aria-labelledby="nav-repository-tab">
    <div class="card mb-3">
        <img class="card-img-top" src="{{ asset('build/images/repository-wide.jpg') }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Репозиторий БарГУ</h5>
            <p class="card-text">Электронный архив документов научного, образовательного и нормативного назначения, изданных в БарГУ либо созданных работниками БарГУ.</p>
            <p class="card-text"><small class="text-muted">Последнее обновление 11.02.2020</small></p>
            <a href="#" class="card-link">Репозиторий университета <i class="fa fa-external-link"></i></a>
        </div>
    </div>
</div>