<div class="tab-pane fade show active py-3 px-3 w-100" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="card">
        <h5 class="card-header">Расписание занятий</h5>
        <div class="card-body">
            <h5 class="card-title">Сегодня понедельник 10 марта 2020 года </h5>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Время</th>
                    <th scope="col">Аудитория</th>
                    <th scope="col">Наименование дисциплины</th>
                    <th scope="col">Группа</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row"><i class="far fa-clock"></i> &nbsp; 8:30 &mdash; 9:50</th>
                    <td>214/4</td>
                    <td>Объектно-ориентированное программирование</td>
                    <td>ИСТ-21, ИСТ-22</td>
                </tr>
                <tr>
                    <th scope="row"><i class="far fa-clock"></i> &nbsp; 10:00 &mdash; 11:20</th>
                    <td>308/5</td>
                    <td>Объектно-ориентированное программирование</td>
                    <td>ИСТ-21</td>
                </tr>
                <tr>
                    <th scope="row"><i class="far fa-clock"></i> &nbsp; 11:50 &mdash; 13:10</th>
                    <td>214/4</td>
                    <td>Проектирование баз данных и баз знаний</td>
                    <td>ИСТ-31, ИСТ-32</td>
                </tr>
                </tbody>
            </table>
            <p class="card-text">Перейти к информационному ресурсу "Электронное расписание" и информационному ресурсу "Электронный журнал преподавателя" можно по ссылкам ниже.</p>
            <div class="card-body">
                <a href="#" class="card-link">Электронное расписание <i class="fa fa-external-link"></i></a>
                <a href="#" class="card-link">Электронный журнал преподавателя <i class="fa fa-external-link"></i></a>
            </div>
        </div>
    </div>
</div>