<div class="tab-pane fade py-3 px-3 w-70 active show" id="nav-elib" role="tabpanel" aria-labelledby="nav-elib-tab">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">Электронный каталог библиотеки университета</h5>
            <p class="card-text">В фондах библиотеки БарГУ хранится около 500 тысяч документов и свыше 10 тысяч цифровых копий.
                Ежегодно библиотека приобретает доступ к электронным информационным ресурсам ведущих отечественных и зарубежных издательств и агрегаторов.
                Поисковой системой для этих информационных ресурсов является электронный каталог.
                Любой пользователь независимо от местонахождения имеет возможность без авторизации:
                - осуществить поиск документов, хранящихся в фонде, лицензионных базах данных и информационных ресурсах открытого доступа;
                - получить доступ к полным текстам документов из информационных ресурсов открытого доступа.
                Пользователь, находящийся в здании университета, может получить доступ к ее электронной библиотеке,
                а также к полным текстам документов из лицензионных баз данных: EBSCOhost, Oxford Journals Online, eLIBRARY.RU, «Лань», «Университетская библиотека» и др.
                После авторизации пользователь получает возможность удаленно заказать на читальный зал университета документы, находящиеся в фонде библиотеки.</p>
            <p class="card-text"><small class="text-muted">Последнее обновление 3 минуты назад</small></p>
            <a href="http://elib.barsu.by/CGI/irbis64r_15/cgiirbis_64.exe?C21COM=F&I21DBN=EC&P21DBN=EC" class="card-link">Перейти в электронный каталог библиотеки университета <i class="fa fa-external-link"></i></a>
        </div>
        <img class="card-img-top" src="{{ asset('build/images/elib.jpg') }}" alt="Card image cap">
    </div>
</div>