{% extends 'base.html.twig' %}

{% block body_id 'registration' %}
{% block body_class " " %}

{% block header %}
    <header>
        {{ include('lib/_navbar.html.twig') }}
        {{ include('security/lib/_form-authorize.html.twig') }}
    </header>
{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container body-container mt-lg-4" id="header-registration">
        <h3> Регистрационные данные пользователя информационно-образовательного пространства БарГУ</h3>
    </div>

    <div class="container body-container" id="container-registration">
        {{ include('security/lib/_form-register.html.twig') }}
    </div>
{% endblock %}